body{
    background-color: aquamarine;
}

.principal{
    text-align: center;
    font-size: 25px;
}

#imagem1{
    width: 50%;
    height: 25%;
    border: 2px solid black;

}

.beneficios{
    text-align: left;
    font-size: 20px;

}
h2{
    font-size: 25px;

}